

{{> head }}

{{> navbar }}

    <div class="row">

        <div class="col-8">
            <h2>Doge es la mejor meme!!</h2>
        </div>

        <div class="col-4">
            <img src="../assets/img/burns.jpg" class="img-thumbnail">
        </div>

    </div>

{{> foot}}